@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.app {
  &__layout {
    display: grid;
    height: 100vh;
    place-items: center;
    background: #e3e9ff;
    font-family: 'Work Sans', sans-serif;
  }
}
